*,
*:before,
*:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    user-select: none;
}

.slider__navi
{
    position: absolute;
    z-index: 999;
    right: 1vw;
    bottom: 15vh;

    min-width: 6vw;
    min-height: 30vh;
    margin: 0;

    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);

    background: none;
}

.slider__navi > a
{
    display: block;

    width: 4vw;
    height: 9vh;
    margin: 15px auto;

    transition: all 200ms;
    text-decoration: none;

    color: black;
    border: none;
    border-radius: 100%;
    background: #f4f4f4;
    box-shadow: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}



#formBtn
{
    font-size: 6.4vh;
    text-align: center;
}

a:visited
{
    color: black;
}

body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 400;

    position: relative;

    overflow: auto;

    min-height: 100vh;
    margin: 0;
}

.flex__container
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display:         flex;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;

    width: 100%;
    height: 100vh;

    -webkit-flex-flow: row wrap;
       -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
         -o-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: flex-start;
       -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
         -o-justify-content: flex-start;
            justify-content: flex-start;
}

.flex__container.flex--active
{
    z-index: 2;
}

.text--sub
{
    font-size: 2vh;

    margin-bottom: 16vh;

    letter-spacing: .5rem;
    text-transform: uppercase;
}

    
.text--big
{
    font-family: 'Poppins', sans-serif;
    font-size: 3.6em;
    font-weight: 700;
    line-height: 15vh;
    
}

.text--normal
{
    font-size: 2.5vh;
    line-height: 2.7vh;

    color: rgba(255, 255, 255, 1);
    /*margin-top: 25px;*/
}

.text--sub,
.text--big,
.text--normal
{
    margin-left: 40px;
}

.flex__item
{
    height: 100vh;

    transition: transform .1s linear;

    color: #fff;
}


.flex__item--left
{
    position: relative;

    display:         flex;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    overflow: hidden;

    width: 65%;

    transition: transform .1s linear .4s;
    transform-origin: left bottom;

    opacity: 0;
    background-size: cover;

            align-items: center;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
}

.flex__item--right
{
    position: absolute;
    right: 0;

    width: 35%;

    transition: transform .1s linear 0s;
    transform-origin: right center;

    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right
{
    opacity: 1;
}






/* First Artist */

.flex--artist1 .flex__item--left
{
    background-image: url('./images/bg2.jpg');
}

.flex--artist1 .flex__item--right
{
    background-image: url('./images/mandala3.jpeg');
}





/* Second Artist */

.flex--artist2 .flex__item--left
{
    background-image: url('./images/bg1.jpg');
}

.flex--artist2 .flex__item--right
{
    background-image: url('./images/mandala1.jpg');
}





/* Artist 3 */

.flex--artist3 .flex__item--left
{
    background-image: url('./images/bg3.jpg');
}

.flex--artist3 .flex__item--right
{
    background-image: url('./images/mandala2.jpg');
}






/* Artist 4 */

.flex--artist4 .flex__item--left
{
    background-image: url('./images/bg4.jpg');
}

.flex--artist4 .flex__item--right
{
    background-image: url('./images/mandala4.jpg');
}






/* Artist 5 */

.flex--artist5 .flex__item--left
{
    background-image: url('./images/bg5.png');
}

.flex--artist5 .flex__item--right
{
    background-image: url('./images/mandala5.jpg');
}


.flex__content
{
    width: 55%;
    margin-left: 80px;

    transition: transform .2s linear .2s, opacity .1s linear .2s;
    transform: translate3d(0, 0, 0);

    opacity: 1;
}

.artist__img
{
    position: absolute;
    right: 10vw;
    bottom: 0;

    max-width: 50vw;
    max-height: 50vh;

    transition: opacity .43s .6s, transform .4s .65s cubic-bezier(0, .88, .4, .93);
    transform: translate3d(0, 0, 0);

    opacity: 1;
}






/* Animate-START point */

.flex__container.animate--start .flex__content
{
    transform: translate3d(0, -200%, 0);

    opacity: 0;
}

.flex__container.animate--start .artist__img
{
    transform: translate3d(-200px, 0, 0);

    opacity: 0;
}




/* Animate-END point */

.flex__container.animate--end .flex__item--left
{
    transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right
{
    transform: scaleX(0);
}

.flex__container.animate--end .flex__content
{
    transform: translate3d(0, 200%, 0);

    opacity: 0;
}

.flex__container.animate--end .artist__img
{
    transform: translate3d(200px, 0, 0);

    opacity: 0;
}



.icon
{
    display: block;
    position: absolute;
    z-index: 1000;
    width: 25px;
    height: 45px;
    /*margin-top: -7%;*/
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
    bottom: 2px;

}

.icon,
.icon:before 
{
  position: absolute;
  left: 50%;
}

.icon:before
{
  content: '';
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: -2px;
  top: 4px;
  border-radius: 2px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll
{
  0%{opacity: 1}
  100%{opacity: 0; transform: translateY(46px)}
}