*,
*:before,
*:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    user-select: none;
}

html
{
    margin: 0;
    padding: 0;
}

.slider__navi
{
    position: absolute;
    z-index: 999;
    right: 1vw;
    bottom: 15vh;

    min-width: 6vw;
    min-height: 30vh;
    margin: 0;

    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);

    background: none;
}

.slider__navi > a
{
    display: block;

    width: 4vw;
    height: 9vh;
    margin: 15px auto;

    transition: all 200ms;
    text-decoration: none;

    color: black;
    border: none;
    border-radius: 100%;
    background: #f4f4f4;
    box-shadow: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}



#formBtn
{
    font-size: 6.4vh;

    text-align: center;
}

a:visited
{
    color: black;
}

body
{
    font-family: 'NexaFreeLightwebfont', sans-serif;
    font-size: 100%;
    font-weight: 400;

    position: relative;

    overflow: auto;

    min-height: 100vh;
    margin: 0;
}

.flex__container
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display:         flex;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;

    width: 100%;
    height: 100vh;

    -webkit-flex-flow: row wrap;
       -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
         -o-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: flex-start;
       -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
         -o-justify-content: flex-start;
            justify-content: flex-start;
}

.flex__container.flex--active
{
    z-index: 2;
}

.text--sub
{
    font-size: 2vh;

    margin-bottom: 16vh;

    letter-spacing: .5rem;
    text-transform: uppercase;
}


.text--big
{
    font-family: 'NexaFreeBoldwebfont', sans-serif;
    font-size: 3.6em;
    font-weight: 700;
    line-height: 15vh;
}

.text--normal
{
    font-size: 2.5vh;
    line-height: 2.7vh;

    color: rgba(255, 255, 255, 1);
    /*margin-top: 25px;*/
}

.text--sub,
.text--big,
.text--normal
{
    margin-left: 40px;
}

.flex__item
{
    height: 100vh;

    transition: transform .1s linear;

    color: #fff;
}


.flex__item--left
{
    position: relative;

    display:         flex;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    overflow: hidden;

    width: 65%;

    transition: transform .1s linear .4s;
    transform-origin: left bottom;

    opacity: 0;
    background-size: cover;

            align-items: center;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
}

.flex__item--right
{
    position: absolute;
    right: 0;

    width: 35%;

    transition: transform .1s linear 0s;
    transform-origin: right center;

    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right
{
    opacity: 1;
}

/* First Artist */

.flex--artist1 .flex__item--left
{
    background-image: url('./images/bg2.jpg');
}

.flex--artist1 .flex__item--right
{
    background-image: url('./images/mandala3.jpeg');
}


/* Artist 2 */

.flex--artist2 .flex__item--left
{
    background-image: url('./images/bg4.jpg');
}

.flex--artist2 .flex__item--right
{
    background-image: url('./images/mandala4.jpg');
}




/* Artist 3 */

.flex--artist3 .flex__item--left
{
    background-image: url('./images/bg1.jpg');
}

.flex--artist3 .flex__item--right
{
    background-image: url('./images/mandala1.jpg');
}





/* Artist 4 */

.flex--artist4 .flex__item--left
{
    background-image: url('./images/bg3.jpg');
}

.flex--artist4 .flex__item--right
{
    background-image: url('./images/mandala2.jpg');
}






/* Artist 5 */

.flex--artist5 .flex__item--left
{
    background-image: url('./images/bg4.jpg');
}

.flex--artist5 .flex__item--right
{
    background-image: url('./images/mandala4.jpg');
}


/* Artist 6 */

.flex--artist6 .flex__item--left
{
    background-image: url('./images/bg5.png');
}

.flex--artist6 .flex__item--right
{
    background-image: url('./images/mandala5.jpg');
}

/*beginning of the new artist*/

/* Artist 7 */

.flex--artist7 .flex__item--left
{
    background: red;
}

.flex--artist7 .flex__item--right
{
    background: yellow;
}

/* Artist 8 */

.flex--artist8 .flex__item--left
{
    background: blue;
}

.flex--artist8 .flex__item--right
{
    background: pink;
}

/* Artist 9 */

.flex--artist9 .flex__item--left
{
    background: green;
}

.flex--artist9 .flex__item--right
{
    background: purple;
}


/* Artist 10 */

.flex--artist10 .flex__item--left
{
    background: blue;
}

.flex--artist10 .flex__item--right
{
    background: red;
}

/*end of the new artists*/


.flex__content
{
    width: 55%;
    margin-left: 80px;

    transition: transform .2s linear .2s, opacity .1s linear .2s;
    transform: translate3d(0, 0, 0);

    opacity: 1;
}

.artist__img
{
    position: absolute;
    right: 5vw;
    bottom: 0;

    max-width: 50vw;
    /*max-height: 35vh;*/
    min-height: 20vh;
    /*min-width: 40vw;*/

    transition: opacity .43s .6s, transform .4s .65s cubic-bezier(0, .88, .4, .93);
    transform: translate3d(0, 0, 0);

    opacity: 1;
}

/* Animate-START point */

.flex__container.animate--start .flex__content
{
    transform: translate3d(0, -200%, 0);

    opacity: 0;
}

.flex__container.animate--start .artist__img
{
    transform: translate3d(-200px, 0, 0);

    opacity: 0;
}




/* Animate-END point */

.flex__container.animate--end .flex__item--left
{
    transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right
{
    transform: scaleX(0);
}

.flex__container.animate--end .flex__content
{
    transform: translate3d(0, 200%, 0);

    opacity: 0;
}

.flex__container.animate--end .artist__img
{
    transform: translate3d(200px, 0, 0);

    opacity: 0;
}



.icon
{
    position: absolute;
    z-index: 1000;
    bottom: 2px;

    display: block;

    width: 25px;
    height: 45px;

    border-radius: 25px;
    /*margin-top: -7%;*/
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.5);
}

.icon,
.icon:before
{
    position: absolute;
    left: 50%;
}

.icon:before
{
    top: 4px;

    width: 4px;
    height: 4px;
    margin-left: -2px;

    content: '';
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    border-radius: 2px;
    background: #fff;
}

@keyframes scroll
{
    0%
    {
        opacity: .5;
    }
    100%
    {
        transform: translateY(46px);;

        opacity: 0;
    }
}


.flex__item--left:after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '\A';
    -webkit-transition: all .5s;
            transition: all .5s;

    background: linear-gradient(to top, rgba(0,0,0,.4), rgba(0,0,0,0), rgba(0,0,0,1));
}

.flex__item--left *
{
    z-index: 100;
}





/*New scroll icon*/
.scroll-down, .arrow-down
{
    display: block;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}


.arrow-down {
  user-select: none;
  cursor: pointer;
  margin: 0 auto;
}

.scroll-down {
  animation: bounce 1.8s ease-in-out infinite;
  height: 60px;
  border-radius: 50%;
  padding-top: 30px;
  width: 60px;
  z-index: 30;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  cursor: pointer;
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scroll-down:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow-down div {
  background: #ffffff;
  height: 4px;
  width: 20px;
}

.arrow-down div:nth-child(1) {
  transform: translateX(-6px) rotate(45deg);
}

.arrow-down div:nth-child(2) {
  width: 22px;
  transform: translate(6px, -4px) rotate(-45deg);
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 15px);
  }
  50% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, 15px);
  }
}

.scroll-down:hover {
    background-color: transparent !important;
    user-select: none;
    transition: none;
  }

  #landing .arrow-down {
    transform: translateY(-60px);
  }

  /*font added*/

  @font-face {
  font-family: 'NexaFreeBoldwebfont';
  src: /*url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./NexaFreeBoldwebfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'NexaFreeLightwebfont';
  src: /*url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./NexaFreeLightwebfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}