@media screen and (max-width: 800px)
{
    body
    {
        overflow: hidden;
    }

    .flex__item--right
    {
        width: 100%;
        height: 40vh;
        margin-top: 64vh;

        transform: skewY(-5deg);
    }

    .flex__item--left
    {
        width: 100%;
        height: 70vh;

        transform: skewY(-5deg);
    }

    .flex__item--left > *
    {
        transform: skewY(5deg);
    }

    .text--big
    {
        font-size: 5.5em;
        line-height: 8vh;

        position: relative;
        right: 10vw;
        bottom: 15vh;

        width: 100vw;

        text-align: center;
    }

    .text--normal
    {
        font-size: 3vh;
        line-height: 4vh;

        position: relative;
        right: 15vw;
        bottom: 10vh;

        width: 80vw;
    }

    .artist__img
    {
        position: absolute;
        right: 1vw;
    }

    .text--sub
    {
        position: relative;
        top: 0;

        width: 80vw;

        text-align: center;
    }

    .slider__navi
    {
        right: 1vw;
        bottom: 1vh;
    }

    .slider__navi > a
    {
        min-width: 15vw;
        margin: 2vh auto;
    }

    #formBtn
    {
        min-height: 60px;
    }
}

@media screen and (max-width: 430px)
{
    .artist__img
    {
        right: 8vw;

        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: 35vh;
    }

    .text--big
    {
        font-size: 5.3vh;

        right: 21vw;

        width: 100vw;
        margin: auto 0;

        text-align: center;
    }

    .text--sub
    {
        right: 20vw;
    }

    .text--normal
    {
        right: 18vw;
    }

    div.icon
    {
        position: absolute;
        bottom: 35%;

        display: block;
    }
}

@media screen and (max-width: 415px)
{
    .text--big
    {
        right: 19.5vw;
    }
}

/*galaxy s5*/
@media screen and (max-width: 370px)
{
    .text--big
    {
        right: 19.5vw;
    }

    .text--normal
    {
        right: 23vw;
    }
}

/*iphone 4*/
@media screen and (max-width: 350px)
{
    .text--big
    {
        font-size: 6vh;

        top: -10vh;
        right: 25vw;

        margin: 5vh 0;
    }

    .text--sub
    {
        /*top: 8vh;*/
        right: 24vw;
    }

    .text--normal
    {
        right: 24vw;
    }

    .slider__navi > a
    {
        min-width: 13vw;
        margin: 2vh auto;
    }

    #formBtn
    {
        height: 45px;
        min-height: 45px;
    }
}

/*iphone x looked bad hence fixing that*/

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3)
{
    .flex__content
    {
        margin-top: 80px;
    }

    .slide-nav
    {
        height: 6vh;
        min-height: 6vh;

        transform: translateY(20px);
    }

    .artist__img
    {
        right: -10vw;
    }
}

/*helping out overflow on desktop only*/

@media only screen and (min-width: 1500px)
{
    *
    {
        overflow: hidden;
    }

    .slider__navi > a:hover
    {
        transform: translateY(-2px);

        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    }
}
