@media screen and (max-width: 800px)
{
    body
    {
        overflow: hidden;
    }

    .flex__item--right
    {
        width: 100%;
        height: 40vh;
        margin-top: 64vh;

        transform: skewY(-5deg);
    }

    .flex__item--left
    {
        width: 100%;
        height: 70vh;

        transform: skewY(-5deg);
    }

    .flex__item--left > *
    {
        transform: skewY(5deg);
    }

    .text--big
    {
        font-size: 5.5em;

        position: relative;
        right: 10vw;
        bottom: 15vh;

        width: 100vw;

        text-align: center;
    }

    .text--normal
    {
        font-size: 3vh;
        line-height: 4vh;

        position: relative;
        right: 15vw;
        bottom: 20vh;

        width: 80vw;
    }

    .artist__img
    {
        position: absolute;
        right: 1vw;
    }

    .text--sub
    {
        position: relative;
        top: 20px;

        width: 80vw;

        text-align: center;
    }
}

@media screen and (max-width: 420px)
{
    .artist__img
    {
        right: 20vw;

        max-height: 50vh;
    }

    .text--big
    {
        font-size: 12vh;

        right: 32vw;
    }

    .text--sub
    {
        right: 20vw;
    }

    .text--normal
    {
        right: 18vw;
    }
}

@media screen and (max-width: 380px)
{
    #up,
    #down
    {
        font-size: 6vh;
    }


    .text--big
    {
        font-size: 12vh;

        top: -10vh;
        right: 36vw;
    }

    .text--sub
    {
        top: 8vh;
        right: 24vw;
    }

    .text--normal
    {
        right: 24vw;
    }
}
