@media screen and (max-width: 800px)
{
    body
    {
        overflow: hidden;
    }

    .svgBackground {
        height: 3vh;
        width: 300vw;
        position: absolute;
        top: 50%;
        margin-top: 25vh;
        transform: skewX(5deg);
        transform: scaleY(0.7);
        z-index: 0;
    }

    .flipped {
        transform: rotateX(-180deg);
        margin-top: 570px;
    }

    .straight {
        margin-top: -520px;
    }

    svg {
        display: flex;
        width: 50%;
        height: 45vh;
        position: absolute;
    }

    .flex__item--right
    {
        width: 100%;
        height: 40vh;
        margin-top: 64vh;
        display: none;
    }

    .flex__content {
        width: 90vw;
        height: 60vh;
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -45vh;
        left: 50%;
        margin-left: -45vw;
        align-items: center;
    }

    .flex__item--left
    {
        width: 100%;
        height: 100vh;

    }

    .flex__item--left > *
    {
        /*transform: skewY(5deg);*/
    }

    .text--big
    {
        font-size: 3.5em;
        line-height: 8vh;
        text-align: center;
        width: 90vw;
        position: absolute;
        margin-top: 10vh;
        margin-left: 0vw;
    }

    .text--normal
    {
        font-size: 2.3vh;
        line-height: 4vh;
        color: black;
        width: 90vw;
        text-align: center;
        position: absolute;
        z-index: 10;
        margin-left: 0;
        margin-top: 40vh;
    }

    .artist__img
    {
        position: absolute;
        right: 1vw;
    }

    .text--sub
    {
        text-align: center;
        width: 90vw;
        position: absolute;
        margin-left: 3vw;
        margin-top: 5vh;
    }
    .slider__navi
    {
        right: 1vw;
        bottom: 1vh;
    }

    .slider__navi > a
    {
        min-width: 15vw;
        margin: 2vh auto;
    }

    #formBtn
    {
        min-height: 60px;
    }
}

@media screen and (max-width: 430px)
{
    .artist__img
    {
        right: 8vw;

        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: 35vh;
    }

    .text--big
    {
        font-size: 5.3vh;
        text-align: center;
    }

    .text--sub
    {
    }

    .text--normal
    {
    }

    div.icon
    {
        position: absolute;
        bottom: 35%;

        display: block;
    }
}

@media screen and (max-width: 415px)
{
    .text--big
    {
        /*right: 19.5vw;*/
    }
}

/*galaxy s5*/
@media screen and (max-width: 370px)
{
    .text--big
    {
        /*right: 19.5vw;*/
    }

    .text--normal
    {
        right: 23vw;
    }
}

/*iphone 4*/
@media screen and (max-width: 350px)
{
    .text--big
    {
        font-size: 6vh;

        top: -10vh;
        right: 25vw;

        margin: 5vh 0;
    }

    .text--sub
    {
        /*top: 8vh;*/
        right: 24vw;
    }

    .text--normal
    {
        right: 24vw;
    }

    .slider__navi > a
    {
        min-width: 13vw;
        margin: 2vh auto;
    }

    #formBtn
    {
        height: 45px;
        min-height: 45px;
    }
}

/*iphone x looked bad hence fixing that*/

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3)
{
    .flex__content
    {
        width: 90vw;
        height: 60vh;
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -45vh;
        left: 50%;
        margin-left: -45vw;
        align-items: center;
    }


    .slide-nav
    {
        height: 6vh;
        min-height: 6vh;

        transform: translateY(20px);
    }

    .artist__img
    {
        right: -10vw;
    }
}

/*helping out overflow on desktop only*/

@media only screen and (min-width: 1500px)
{
    *
    {
        overflow: hidden;
    }

    .slider__navi > a:hover
    {
        transform: translateY(-2px);

        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    }
}
